//color variable

$color1: #287fc3; //header text
$color2: #ff4e50; //button background
$color3: #333333; //HOW bold test
$color4: #666666; // below round icons text
$color5: #cccccc; //footer DESIGNED text
$color6: #999999; //searchfield placeholder color
$color7: #edeef0; //link color
$color8 : white;  //header text h2

//fonts variable
$fontFamilyBold: 'Montserrat-Bold', sans-serif;
$fontFamilyRegular: 'Montserrat-Regular', sans-serif;
$fontFamilyThin :'Roboto-Thin', sans-serif;
$fontFamilyLight :'Roboto-Light',sans-serif;
$fontSize1 : 30px;
$fontSize2 : 22px;
$fontSize3 : 20px;
$fontSize4 : 18px;
$fontSize5 : 14px;
$fontSize6 : 10px;
$fontSize7 : 16px;
$fontSize8 : 24px;

// url variable

$urlIcon : url("../img/PartnerIcon_sprite.png");
$urlPromoMobil : url("../img/promo_mobil.jpg");
$urlPromoTablet : url("../img/promo_tablet.jpg");
$urlStep1 : url("../img/step1_tablet.jpg");
$urlStep2 : url("../img/step2_tablet.jpg");
$urlStep3 : url("../img/step3_tablet.jpg");
$urlArrowLeft : url("../img/leftArrowSprite.png");
$urlArrowRight : url("../img/rightArrowSprite.png");