/* Media query */
/* phone  */
@include respond-to(handhelds) {
  .header {
    @include background($urlPromoMobil, 0, 0);
    background-size: cover;

    .login_area, h1 {
      width: 100%;
      border: solid #ff4e50;
    }
  }
  .grid {
    @include column-count(1);
    .grid-item img {
      width: 300px;
      height: 120px;
    }
  }
  .partners div {
    @include column-count(1);
  }

};
/* wide phone */
@include respond-to(wide-handhelds) {
  .header {
    @include background($urlPromoMobil, 0, 0);
    background-size: cover;

    .login_area, h1 {
      width: 100%;
    }
  }
  .grid {
    @include column-count(1);
    .grid-item img {
      width: 300px;
      height: 120px;
    }
  }
   .partners div{
    @include column-count(1);
  }
};

@include respond-to(tablets) {
  .header {
    @include background($urlPromoTablet, 0, 0);
    background-size: cover;
  }
    .login_area {
      width: 180px;
    }

  .grid {
    @include column-count(3);
    .grid-item {
      height: 300px;
    }
  }
  .partners div{
    @include column-count(4);
  }

};
@include respond-to(desktop) {
  .header {
    @include background($urlPromoTablet, 0, 0);
  }
    .login_area {
      width: 180px;
    }

  .idea {
    width: 1260px;
  }
  .grid {
    @include column-count(3);
    .grid-item img {
      height: 300px;
    }
  }
  .partners div{
    @include column-count(4);
  }
}